/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
}

/* Header styles */
.header {
    background-color: salmon;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

.header-title {
    font-size: 1.5rem;
}

/* Form section styles */
.form-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Add font-family for the table */
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; /* Add font-family for the table */
    font-size: 14px; /* Add font-size for the table */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Label styles for Item, Quantity, and Low */
.label {
    font-family: 'Poppins', sans-serif; /* Add font-family for the labels */
    font-size: 16px; /* Add font-size for the labels */
}

/* Select input styles */
.select-input {
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif; /* Add font-family for the dropdown menus */
    font-size: 16px; /* Add font-size for the dropdown menus */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.select-input:focus {
    outline: none;
    border-color: #3490dc;
}

.select-input:focus {
    outline: none;
    border-color: #3490dc;
}

/* Adjust the width for the "Location" dropdown menu */
.select-input.location {
    width: 100%; /* This ensures it takes the full width of the container */
    vertical-align: middle; /* Align the notes field vertically */
}

/* Adjust the width for the "Item" dropdown menu */
.form-input {
    width: 90%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px; /* Add margin-bottom to create spacing between fields */
    vertical-align: middle; /* Align the notes field vertically */
}


.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table data styles */
.table td {
    padding: 10px;
}

/* Center-align text in the first column */
.table td:first-child {
    text-align: center;
}

/* Add borders to table cells */
.table, .table th, .table td {
    border: 1px solid #ddd;

    font-family: 'Poppins', sans-serif; /* Add font-family for the table */
    font-size: 14px; /* Add font-size for the table */
}

/* Hover effect for table rows */
.table tr:hover {
    background-color: #e0e0e0;
}

/* Location form styles */
.location-form {
    margin-bottom: 20px;
}

.location-form label {
    display: block;
    margin-bottom: 5px;
}

/* Select input styles */
.location-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.location-form select:focus {
    outline: none;
    border-color: #3490dc;
}

/* Button container styles */
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Submit button styles */
.button {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Primary button styles */
.primary-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold;
    background-color: #FA8072; /* Same background color for both buttons */
    color: white;
    padding: 15px 30px; /* Adjust padding for button size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underlines from links */
    display: inline-block; /* Display as a block element */
    text-align: center;
    margin-right: 10px; /* Add margin between buttons */

    &:hover {
        background-color: #3490dc;
    }
}


/* Secondary button styles */
.secondary-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold;
    background-color: #FA8072; /* Same background color for both buttons */
    color: white;
    padding: 15px 30px; /* Adjust padding for button size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underlines from links */
    display: inline-block; /* Display as a block element */
    text-align: center;
    margin-right: 10px; /* Add margin between buttons */

    &:hover {
        background-color: #3490dc;
    }
}

/* Link styles */
.link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #3490dc;
    font-weight: bold;
}
