/* Reset default margin and padding */
body { 
    background-color: #fff;
    color: #0065F2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    font-size: 18px; /* Change the font size for the entire website */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    padding: 20px 165px 10px 165px;
}


.table-container {
    padding: 10px 20px 20px 20px;
    margin: 0 auto; /* Auto horizontal margin centers the element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.primary-select{
    width: 500px;
    max-width: 100%;/* Optional: Add a maximum width to prevent it from getting too wide */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    display: block; /* Change to block to center it horizontally */
    margin: 0 auto; /* Margin auto horizontally centers the image */
}


/* Select input styles */
.primary-select-location {

    font-family:'Courier New', Courier, monospace;
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0065F2;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #ffff;
}

.primary-select-row-number {

    font-family:'Courier New', Courier, monospace;
    width: 30%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0065F2;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #ffff;
}


.secondary-select{
    max-width: 100%;/* Optional: Add a maximum width to prevent it from getting too wide */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.secondary-select select {

    font-family:'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0065F2;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #ffff;
}

.secondary-select input {

    font-family:'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0065F2;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #ffff;
}

/* Button container styles */
.button-container {
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
}

/* Submit button styles */
.button {
    font-size: 16px; /* Adjust the font size to your preference */
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    background-color: #ffff; /* Same background color for both buttons */
    border: 1px solid #0065F2;
    padding: 15px 30px; /* Adjust padding for button size */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underlines from links */
    display: inline-block; /* Display as a block element */
    text-align: center;
    margin-right: 10px; /* Add margin between buttons */
    &:hover {
        border: 1px solid #FF5A5F;
    }
}



/* Apply the styles to all tables with the "table-display" class */
.table-display {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 8;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black; /* Add a border to the table */
    padding: 20px 20px;
}

/* Style the table header cells */
.table-display th {
    background-color: #f2f2f2;
    border: 2px solid #000000; /* Add a border to the header cells */
}

/* Style the table rows */
.table-display tr {
    border-bottom: 1px solid #ddd;
}

/* Style the table data cells */
.table-display td {
    padding: 18px;
    border: 2px solid #000000; /* Add a border to the data cells */
}

/* Optional: Style the alternate rows differently for better readability */
.table-display tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Optional: Hover effect on table rows */
.table-display tr:hover {
    background-color: #e5e5e5;
}





/* Responsive CSS styles for iphone */
@media (max-width: 1170px) {

    body { 
        background-color: #fff;
        color: #0065F2;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400; /* Change the font size for the entire website */
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .header img {
        width: 60px; /* Adjust the width to make the logo bigger */
        height: auto; /* Maintain the aspect ratio */
    }
    
    
    .table-container {
        padding: 10px 20px 20px 20px;
        margin: 0 auto; /* Auto horizontal margin centers the element */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .primary-select{
        width: 500px;
        max-width: 100%;/* Optional: Add a maximum width to prevent it from getting too wide */
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        display: block; /* Change to block to center it horizontally */
        margin: 0 auto; /* Margin auto horizontally centers the image */
    }
    
    
    /* Select input styles */
    .primary-select-location {
    
        font-family:'Courier New', Courier, monospace;
        width: 60%;
        padding: 15px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        font-style: normal;
        border: 1px solid #0065F2;
        border-radius: 5px;
        transition: border-color 0.3s ease;
        background-color: #ffff;
    }
    

    
    .secondary-select{
        max-width: 100%;/* Optional: Add a maximum width to prevent it from getting too wide */
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 15px;
    }
    
    .secondary-select select {
    
        font-family:'Courier New', Courier, monospace;
        width: 120%;
        padding: 15px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        border: 1px solid #0065F2;
        border-radius: 5px;
        transition: border-color 0.3s ease;
        background-color: #ffff;
    }
    
    .secondary-select input {
    
        font-family:'Courier New', Courier, monospace;
        width: 30%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        border: 1px solid #0065F2;
        border-radius: 5px;
        transition: border-color 0.3s ease;
        background-color: #ffff;
    }
    
    /* Button container styles */
    .button-container {
        text-align: center;
        margin-top: 15px;
        padding: 10px 20px;
    }
    
    /* Submit button styles */
    .button {
        font-size: 14px; /* Adjust the font size to your preference */
        font-family:'Courier New', Courier, monospace;
        font-weight: 400;
        color: #0065F2;
        background-color: #ffff; /* Same background color for both buttons */
        border: 1px solid #0065F2;
        padding: 10px 30px; /* Adjust padding for button size */
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none; /* Remove underlines from links */
        display: inline-block; /* Display as a block element */
        text-align: center;
        margin-right: 10px; /* Add margin between buttons */
        &:hover {
            border: 1px solid #FF5A5F;
        }
    }


/* Apply the styles to all tables with the "table-display" class */
.table-display {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 8;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black; /* Add a border to the table */
    padding: 20px 20px;
}

/* Style the table header cells */
.table-display th {
    background-color: #f2f2f2;
    border: 2px solid #000000; /* Add a border to the header cells */
}

/* Style the table rows */
.table-display tr {
    border-bottom: 1px solid #ddd;
}

/* Style the table data cells */
.table-display td {
    padding: 18px;
    border: 2px solid #000000; /* Add a border to the data cells */
}

/* Optional: Style the alternate rows differently for better readability */
.table-display tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Optional: Hover effect on table rows */
.table-display tr:hover {
    background-color: #e5e5e5;
}



}
